@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file or in a <style> tag */
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .scroll-fadeInUp {
    animation: fadeInUp 1.5s ease-out;
  }
  .scroll-fadeInUpLight {
    animation: fadeInUpLight 1s ease-out;
  }
  .fadeInPreferred {
    animation: fadeInPreferred 1.5s ease-in-out;
  }
  .fadeIn {
    animation: fadeIn 1s ease forwards;
  }

  .fadeIn {
    animation: fadeIn 3s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  